@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
$font-family-base: Montserrat;

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
.main {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  // padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    /* background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    ); */
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: light) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@mixin redSpan {
  color: #be2d30;
}
.mainnav {
  filter: drop-shadow(0 4.63171px 9.26343px rgba(0, 0, 0, 0.25));
  // border: #be2d30;
  // border-width: 5px;
  white-space:nowrap; 
  display: flex;
  ul {
    padding: 1.9rem;
    display: flex;
    justify-content: left;
    flex-direction: row;
  }
  li {
    display: flex;
    margin: 0 10px;
    list-style: none;
    justify-content: left;
  }
  span {
    @include redSpan();
  }
}
.navcont {
  // border: #be2d30;
  // border-width: 5px;
  // border-style: solid;
  display: flex;
  // position: fixed;
  // top:0;
  // margin-bottom: 50px;
  // padding-bottom: 100px;
  z-index: 999;
  // justify-content: right;
}
.navimg {
  margin: 20px;
  margin-left: 10%;
  justify-content: center;

  align-items: center;

  // border: #be2d30;
  // border-width: 5px;
  // border-style: solid;
}
.socials {
  display: flex;
  justify-content: right;
  margin-left: 20%;
}
.containerHeader {
  // border: 3px solid #fff;
  padding: 20px;
}
.carousel {
  // top: 100px;
  // margin-top: 50px;
  display: inline-flex;
  flex: 1;
  width: 70%;
  border: 3px green;
  // border-style: groove;

  ul {
    // border: 3px solid red;
    display: flex;
    flex-direction: row;
    bottom: -20px;
    // left: 45%;
  }
  li {
    // display: flex;
    margin: 0 10px;
    list-style: disc;
    justify-content: left;
  }
}
.carousel .control-dots {
  position: absolute;
  // border: 3px solid red;
  left: 45%;
}

.headerright {
  // margin-top: 70px;
  float: right;
  display: inline-flex;
  // border: 3px solid green;
  width: 30%;
  // text-align: center;
  // align-items: center;
  div {
    margin: auto;
    text-align: center;
    align-items: center;
    // border: 3px solid yellow;
    // margin: -15px auto 20px;
  }
  p {
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    font-family: Montserrat;
    margin: 0 !important;
  }
}
.button {
  a {
    font-size: 20px;
    text-decoration: none;
    width: 200px;
    justify-content: center;
    align-items: center;
    height: 100px;
    box-shadow: 3px 3px 9px;
    border-radius: 30px;
    font-weight: 700;
    background-color: rgb(255, 197, 0);
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
  }
}

@mixin floatItemsBG {
  // border: 3px solid green;
  // bottom: -50px;
  border-radius: 30px;
  padding: 20px;
}
.floatBox {
  display: flex;
  align-items: center;
  position: fixed !important;
  background: rgba(255, 178, 14, 0.55);
  bottom: 10px;
  left: 9.5%;
  padding: 0 10px;
  width: 80vw;
  height: 86px;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  z-index: 99;
  .floatItem {
    @include floatItemsBG();
    background-color: white;
    align-items: center;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
  }
  span {
    @include redSpan();
  }
}
.floatImage {
  @include floatItemsBG();
  position: relative !important;
  // background: rgb(255, 197, 0, 0.1);
  // margin-top: -50px;
  bottom: 25px;
  // margin-bottom: 50px;
}

.chatBot {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 50px;
  border-radius: 50px;
  background: #be2d30;
  padding: 10px;
}

.videoPlayer {
  // background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 3rem;
  // border: #be2d30 2px solid;
}

.title {
  font-weight: 700;
  font-family: Montserrat;
  font-size: 42px;
  text-align: center !important;
  text-decoration: underline !important ;
  text-decoration-color: #be2d30;
  margin-bottom: 25px;
}
.ourServices {
  border: red solid 3px;
  display:flex;
  flex-direction: row;
}

.mainContainer {
  position: relative;
  width: 33%;
  display:flex;
  flex-direction: row;
}
// .imageContainer {
//   // border: 2px red solid;
//   // margin: 6% 0 0 36%;
//   // width: 20%;
//   // position: relative;
//   position: relative;
//   width: 50%; // if it doesnt work, put these 2 lines in .mainContainer
// }
.frontImage {
  display: inline-block;
  margin: 20%;
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:  rgb(255, 197, 0);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  display: inline-block;

}
.mainContainer:hover .overlay {
  height: 100%;
  display: inline-block;

}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
