@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

.main {
  min-height: 100vh;
}
@mixin redSpan {
  color: #be2d30;
}
.mainnav {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  ul {
    padding: 1.9rem;
    display: flex;
    justify-content: left;
    flex-direction: row;
    @media (max-width: 768px) {
      display: none; // Hide menu labels
    }
  }
  li {
    display: flex;
    margin: 0 10px;
    list-style: none;
    justify-content: left;
  }
  span {
    @include redSpan();
  }
}

.navcont {
  z-index: 999;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 2px solid black;
  background-color: rgba(255, 178, 14);
  display: flex;
}
.navimg {
  margin: 10% 35%;
  display: flex;
}
.profileIcon {
  display: flex;
  justify-content: center;
  margin-left: 50%;
  padding: 2rem;
  cursor: pointer;
}
.profileBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.dropdownMenu {
  position: absolute;
  right: 10rem;
  top: 85px;
  width: 200px;
  backdrop-filter: blur(100px);
  border-radius: 5px;
  overflow: hidden;
  transition: height 0.3s ease;
  li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .mainnav li {
    display: none;
  }
  .dropdownMenu {
    display: block;
    position: absolute;
    right: 10rem;
    top: 85px;
    width: 200px;
    backdrop-filter: blur(100px);
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.3s ease;
    li {
      padding: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
